extends layout
block content
 h1= title
 if (toShow == null)
   h2 No instance to update
 else
  - let carid = toShow._id
  - let carModel = toShow.carModel
  - let carPrice = toShow.carPrice
  - let carColor = toShow.carColor
  div.row(class='mb-2')
   div.mr-1 ID is
   div #{carid}
  - let actionid = "/resource/mercedesBenz/" + carid
  form(id='MercedesBenzForm', action=actionid, method="PUT")
   div.form-group
     label.mercedesAttr(for='carModel') Car Model 
     input#carModel(type='text', name='carModel', value= carModel)
   div.form-group
     label.mercedesAttr(for='carPrice') Car Price
     input#carPrice(type='number', name='carPrice', value= carPrice)
   div.form-group
     label.mercedesAttr(for='carColor') Car Color
     input#carColor(type='text', name='carColor', value= carColor)
   input(type="submit")
  script.
   document.forms['MercedesBenzForm'].addEventListener('submit', (event) => {
   event.preventDefault();
   // TODO do something here to show user that form is being submitted
   fetch(event.target.action, {
   method: "PUT",
   body: new URLSearchParams(new FormData(event.target)) // event.target is the form
   }).then((resp) => {
   return resp.json(); // or resp.text() or whatever the server sends
   }).then((body) => {
   alert("update succeded")
   // TODO handle body
   }).catch((error) => {
   // TODO handle error
   console.log(error)
   alert("update failed " + error )
   });
   });
  